body {
    font-family:"HelveticNeue", sans-serif;
    font-size: 14px;
    padding: 20px;
}
h2 {
    color: #999;
    margin-top: 0;
}
.click-to-edit {
    display: inline-block;
    padding-left: 10px;
}
.click-to-date {
    display: inline-block;
    padding-left: 10px;
}
.click-to-message {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 5px;
}
.click-to-tag {
    display: inline-block;
    padding-left: 10px;
}
input {
    display: initial !important;
    width: auto !important;
    margin: 0 5px 0 0 !important;
}
#leftCol {
    border-right: 1px solid black;
}
#rightCol {
    padding-left: 10px;
}
#herobg {
    background: #6F6F65;
    position: absolute;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#bg {
    background: url('../img/bg.jpg');
    background-size: cover;
}
#nav {
    background: #45484B;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#logo {
    left: 50px;
    width: 150px;
    height: 75px;
    background: #45484B;
    position: relative;
    z-index: 101;
}
#logo-text {
    position: absolute;
    z-index: 1000;
    left: 85px;
    top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    z-index: 200;
}

#logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #45484B;
    border-left: 29px solid rgb(0,0,0);
    border-right: 29px solid rgb(0,0,0);
    width: 92px;
    height: 0;
}

#logo:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #45484B;
    border-left: 29px solid rgb(0,0,0);
    border-right: 29px solid rgb(0,0,0);
    width: 92px;
    height: 0;
    z-index: 101;
}
#menu-wrapper {
    left: 225px;
    top: 20px;
    position: absolute;
    max-width: 80%;
}
.menu-ul {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
}
.menu-li {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 75px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 95px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
#blogMessage {
    width: 500px;
    height: 300px;
}
#authorDateLine {
    text-align: center;
}
#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;

}
.odd {
    color: white;
    background: grey;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.even {
    color: white;
    background: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    border: 1px solid black;
    background: white;
}
#main {
    padding: 10px;
}
#leftcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#rightcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#subject {
    width: 50%;
}
#sourceTA {
    display: block;
}
#targetDiv {
    border: 1px dashed #333333;
    width: 600px;
    height: 400px;
}