body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
h2 {
    color: darkslateblue;
    margin-top: 0;
}
.click-to-date {
    display: inline-block;
    padding-left: 10px;
}
.click-to-tag {
    display: inline-block;
    padding-left: 10px;
}
.leftCol {
    border-right: 1px solid lightgray;
    padding-left: 20px;
}
.rightCol {
    padding-left: 10px;
}
#nav {
    display: flex;
    justify-content: center;
    background-image: url(../img/mtn-background.jpg);
    background-size: cover;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#nav-wrapper {
    width: 75%;
    height: 700px;
}
.logo-text {
    position: absolute;
    display: block;
    top: 10px;
    left: 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    z-index: 200;
}
.backwards {
    -webkit-transform: rotate(90deg);
    position: absolute;
    top: 55px;
    left: 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    z-index: 201;
    display: block;
}

#menu-wrapper {
    z-index: 1000;
    width: 50%;
}
#main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.menu-li {
    display: inline;
    font-size: 1.45em;
    color: black;
    padding: 10px;
}
.menu-li:hover {
    display: inline;
    cursor: pointer;
    background: #18293B;
    color: lightgray;
    padding: 10px;
}
.menu-li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu-li a:hover {
    padding: 10px;
    text-decoration: none;
    color: lightgray;
}
#blogMessage {
    width: 500px;
    height: 300px;
}
#authorDateLine {
    text-align: center;
}
#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;

}
#quote-outer {
    display: flex;
    width: 100%;
    height: 590px;
    z-index: 1000;
}
#quote-inner {
    justify-self: center;
    color: darkslategray;
    text-align: center;
    z-index: 1000;
}
.odd {
    color: white;
    background: grey;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.even {
    color: white;
    background: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    border: 1px solid lightgray;
    background: white;
}
#leftcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#rightcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#subject {
    width: 100%;
}
#taStyle {
    line-height: 20px;
    margin: 0;
    padding: 5px;
    font-size: 1.25em;
    height: 100%;
}
#newContainer {
    width: 98%;
    margin: 0;
    height: auto;
    font-size: 3em;
    border: 0;
    background: transparent;
}
#newContainer:focus {
    outline: 0;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -48px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer {
    background: #F0F0F0;
    width: 100%;
}
.footer, .page-wrap:after {
    height: 48px;
}
#footercontainer {
    padding-left: 20px;
}
.header {
    background: #F0F0F0;
    padding-left: 10px;
    height: auto;
    border-bottom: 1px solid lightgrey;
}
#messagestyle {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25em;
}
.centered {
    align-self: center;
    display: flex;
}
.outer {
    display: flex;
    align-items: center;
    height: 48px;
}
.right {
    width: 350px;
    list-style-type: none;
    margin-top: 80px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    z-index: 1000;
}
.menu-section {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    margin-top: 725px;
    height: 50px;
}
.social-li {
    color: #6B787F;
    display: inline;
    padding: 5px;
    cursor: pointer;
}
.social-li:hover {
    display: inline;
    padding: 5px;
}
.row {
    display: flex;
    flex-direction: row;
}
/* show and hide
---------------------------------------- */
.show {
    margin-top: 45px;
    position: fixed;
    opacity: 50;
    left: 0;
    background-color: white;
    top: 0;
}
.top {
    top: 44px;
    position: absolute;
}
.blues {
    background: #18293B;
    height: 2000px;
}
.mdsmallnav {
    width: 30px;
}
.space {
    margin-right: 100px;
}
.short {
    top: 100px;
    color: white;
}
footer {
    height: 300px;
    background: #18293B;
}
.footerlist {
    display: inline;
    padding-right: 5px;
}
.footerul {
    list-style-type: none;
}
.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}
.page-content {
    flex: 1;
}
.alink {
    padding-left: 10px;
    text-decoration: underline;
    width: 200px;
    color: white;
    cursor: pointer;
    font-size: 1em;
}
#bottom-social {
    color: white;
    padding: 10px;
}
#bottom-copyright {
    color: white;
    width: 50%;
    padding: 10px;
}
#wrapper {
    width: 100%;
    max-width: 75%;
    margin: auto;
}
#footer {
    width: 100%;
    float:left;
}
.footerFloat {
    padding-top: 20px;
    width: 33%;
    float: left;
    min-width:300px;
    color: #6B787F;
}
.footerFloat-middle {
    width: 33%;
    padding-top: 50px;
    float: left;
    min-width: 300px;
    color: white;
}
.footerFloat-end {
    width: 33%;
    padding-top: 20px;
    float: left;
    min-width: 300px;
    color: white;
}
.spannedclass {
    height: 110px;
}
.spannedclass2 {
    height: 60px;
}
.sm-logo {
    display: block;
    color: #6B787F;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    z-index: 200;
}
.sm-backwards {
    -webkit-transform: rotate(90deg);
    position: absolute;
    color: #6B787F;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    z-index: 201;
    display: block;
}
.spacing {
    padding-top: 50px;
    height: 130px;
    width: 300px;
}

.instathumb {
    height: 75px;
    width: 75px;
}
#instawrapper {
    width: 50%;
    padding: 15px;
}
/*Slider*/
.slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}