body {
    font-family:"HelveticNeue", sans-serif;
    font-size: 14px;
}
h2 {
    color: #999;
    margin-top: 0;
}
.click-to-date {
    display: inline-block;
    padding-left: 10px;
}
.click-to-tag {
    display: inline-block;
    padding-left: 10px;
}
.leftCol {
    border-right: 1px solid lightgray;
    padding-left: 20px;
}
.rightCol {
    padding-left: 10px;
}
#herobg {
    background: #6F6F65;
    position: absolute;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#bg {
    background: url('../img/bg.jpg');
    background-size: cover;
}
#nav {
    background: #18293B;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#logo-text {
    position: absolute;
    display: block;
    left: 200px;
    top: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    z-index: 200;
}
#menu-wrapper {
    left: 300px;
    top: 100px;
    position: absolute;
    max-width: 80%;
}
.menu-ul {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
}
.menu-li {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 75px;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 95px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
#blogMessage {
    width: 500px;
    height: 300px;
}
#authorDateLine {
    text-align: center;
}
#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;

}
.odd {
    color: white;
    background: grey;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.even {
    color: white;
    background: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    border: 1px solid lightgray;
    background: white;
}
#main {
    padding: 10px;
}
#leftcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#rightcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#subject {
    width: 100%;
}
#taStyle {
    line-height: 20px;
    margin: 0;
    padding: 5px;
    font-size: 1.25em;
    height: 100%;
}
#newContainer {
    width: 98%;
    margin: 0;
    height: auto;
    font-size: 3em;
    border: 0;
    background: transparent;
}
#newContainer:focus {
    outline: 0;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -48px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer {
    background: #F0F0F0;
    width: 100%;
}
.footer, .page-wrap:after {
    height: 48px;
}
#footercontainer {
    padding-left: 20px;
}
.header {
    background: #F0F0F0;
    padding-left: 10px;
    height: auto;
    border-bottom: 1px solid lightgrey;
}
.right {
    float: right;
}
#messagestyle {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25em;
}
.centered {
    align-self: center;
    display: flex;
}
.outer {
    display: flex;
    align-items: center;
    height: 48px;
}
.backwards {
    -webkit-transform: rotate(90deg);
    display: block;
}