<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="LocationFormCtrl">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|MerriWeather+Sans:400,800|Roboto|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="page-wrap">
<div class="header">
        <strong><input type="text" ng-model="subject.title" id="newContainer" placeholder="Title..."></strong>
</div>
<div layout="row" ng-controller="MyController">
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        This is the sidebar menu!!!
    </md-sidenav>
<!--<md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">-->
<!--</md-sidenav>-->
</div>
<div layout="row">
        <div flex class="leftCol">
            <div class="panel">
                <div class="field"> <strong>Post Date: </strong>
                    <div click-to-date="date.post">
                </div>
                    <hr/>
                <div class="field">
                    <md-input-container class="md-block md-input-has-value">
                        <textarea id="taStyle" ng-model="message.new" aria-invalid="false" ng-trim="false"></textarea>
                    </md-input-container>

                </div>
            </div>
        </div>
            <div class="field"> <strong>Featured Image:</strong>
                <div flow-init="{target: '/upload'}"
                     flow-files-submitted="$flow.upload()"
                     flow-file-success="$file.msg = $message">
                <input type="file" flow-btn/>
                <table>
                    <tr ng-repeat="file in $flow.files">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="file.name"></td>
                        <td ng-bind="file.msg"></td>
                        <td><img flow-img="$flow.files[$index]" /></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div flex class="rightCol">
            <div class="panel callout">
                <div id="title">
                     <span ng-bind="subject.title"></span>
                </div>
                <div id="authorDateLine">
                    <p><span ng-repeat="tag in tags track by $index"><span ng-class-even="'even'" ng-class-odd="'odd'"><span ng-bind="tag" class="tag"></span></span></span>
                    <em> By <a href="{{author.url}}"><span ng-bind="author.name"></span></a></em> On <span ng-bind="date.post | date:'MM/dd/yyyy'"></span></p><span><img src="http://www.gravatar.com/avatar/3f47c28141ef251e1e9caa51830090c1%3Fs=250&d=mm&r=x"></span>
                </div>
                <hr />
                <p><div id="messagestyle" marked="message.new"></div></p>
            </div>
        </div>
</div>
</div>
<div class="footer">
    <div layout="row">
        <div flex class="leftCol">
            <div layout="row">
                <div flex class="leftCol">
                    <md-content>
                        <md-button ng-controller="MyController" ng-click="openLeftMenu()">
                            Open Left Menu
                        </md-button>
                    </md-content>
                </div>
                <div flex class="rightCol">
                    <strong>Tag(s): </strong>
                    <div click-to-tag="tags"></div>
                </div>
            </div>
        </div>
        <div flex class="rightCol">
            <div layout="row">
                <div flex class="leftCol">
                    <div class="outer">
                        <div class="centered"><strong>Words: <span ng-bind="countOf(message.new)"></span></strong></div>
                    </div>
                </div>
            <div class="right">
                <md-button class="md-primary">Submit</md-button>
            </div>
        </div>
    </div>
</div>


    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
    <script src="./node_modules/angular-marked/node_modules/marked/lib/marked.js"></script>
    <script src="./node_modules/angular-marked/dist/angular-marked.js"></script>
    <script src="js/flow.js"></script>
    <script src="js/script.js"></script>
</body>
</html>