<!doctype html>
<html ng-app="todoApp" ng-controller="TodoListController as todoList">
<head>
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|MerriWeather+Sans:400,800|Roboto|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="todo.css">
</head>
<body ng-controller="LocationFormCtrl">
<div class="page-wrap">
<div class="header">
    <strong><input type="text" ng-model="todoList.todoText" id="newContainer" placeholder="Title..." my-enter="todoList.addTodo()"></strong>
</div>
    <div layout="row" ng-controller="MyController">
        <md-sidenav md-component-id="left" class="md-sidenav-left">
            This is the sidebar menu!!!
        </md-sidenav>
<div>
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}} todoStyled">{{todo.text}}</span>
        </li>
    </ul>
</div>
    </div>
</div>
<div class="footer">
    <div layout="row">
        <div flex class="leftCol">
            <div layout="row">
                <div flex class="leftCol">
                    <md-content>
                        <md-button ng-controller="MyController" ng-click="openLeftMenu()">
                            Open Left Menu
                        </md-button>
                    </md-content>
                </div>
                <div flex class="rightCol">
                    <strong>Tag(s): </strong>
                    <div click-to-tag="tags"></div>
                </div>
            </div>
        </div>
        <div flex class="rightCol">
            <div layout="row">
                <div flex class="leftCol">
                    <div class="outer">
                        <div class="centered"><span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                            [ <a href="" ng-click="todoList.archive()"> archive</a> ]</div>
                    </div>
                </div>
                <div class="right">
                    <md-button class="md-primary">Submit</md-button>
                </div>
            </div>
        </div>
    </div>
<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
<script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
<script src="./node_modules/angular-marked/node_modules/marked/lib/marked.js"></script>
<script src="./node_modules/angular-marked/dist/angular-marked.js"></script>
<script src="js/flow.js"></script>
<script src="js/script.js"></script>
<script src="todo.js"></script></div>
</body>
</html>