<!-- Navigation Bar -->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div id="footer-outer">
            <div id="footers">
                <i class="fa fa-envelope-o fa-lg"></i>
            </div>
            <div id="footers-inner">
                Email
            </div>
            <div id="emailme"></div>
            <div class="alink">mkteagle@gmail.com</div>
        <div layout="row">
            <div id="bottom-social">
                <div class="social-li">
                    <i class="fa fa-instagram fa-lg"></i>
                </div>
                <div class="social-li">
                    <i class="fa fa-facebook fa-lg"></i>
                </div>
                <div class="social-li">
                    <i class="fa fa-twitter fa-lg"></i>
                </div>
            </div>
        </div>
    </div>
</nav>