<!-- Navigation Bar -->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div id="footers">
        <i class="fa fa-envelope-o fa-2x"></i> E-mail
    </div>
    <!--<ul class="footerul">-->
        <!--<li class="footerlist">-->
            <!--<md-button ui-sref="home" ng-click="{ active: nav.isActive('/home')}">-->
                <!--<i class="fa fa-home"></i>-->
                <!--Home-->
            <!--</md-button>-->
        <!--</li>-->
        <!--<li class="footerlist">-->
            <!--<md-button ui-sref="about" ng-click="{ active: nav.isActive('/about')}">-->
                <!--<i class="fa fa-info-circle"></i>-->
                <!--About-->
            <!--</md-button>-->
        <!--</li>-->
        <!--<li class="footerlist">-->
            <!--<md-button ui-sref="archived" ng-click="{ active: nav.isActive('/archived')}">-->
                <!--<i class="fa fa-archive"></i>-->
                <!--Archived-->
            <!--</md-button>-->
        <!--</li>-->
    <!--</ul>-->

</nav>