<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Jen's Travel Blog</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="myApp" layout="row" ng-controller="BlogController as ul" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Blogs</h1>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="it in ul.users">
          <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.title}}
          </md-button>
      </md-list-item>
    </md-list>
    <md-button id="newpost" ng-click="ul.addBlog()">Add New Post</md-button>
  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar id="openToggles" layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon id="menuitem" md-svg-icon="menu" ></md-icon>
      </md-button>
        <div class="header">
            <strong><input type="text" ng-model="ul.selected.title" id="newContainer" placeholder="Title..."></strong>
        </div>
        <div class="right">Settings</div>
    </md-toolbar>
    <md-content flex id="content">
        <div layout="row">
            <div flex class="leftCol">
                <div class="panel">
                    <div class="field"> <strong>Post Date: </strong>
                        <div click-to-date="ul.selected.date">
                        </div>
                        <hr/>
                        <div class="field">
                            <md-input-container class="md-block md-input-has-value">
                                <textarea id="taStyle" ng-model="ul.selected.content" aria-invalid="false" ng-trim="false"></textarea>
                            </md-input-container>

                        </div>
                    </div>
                </div>
            </div>
            <div flex class="rightCol">
                <div class="panel callout">
                    <div id="title">
                        <span ng-bind="ul.selected.title"></span>
                    </div>
                    <div id="authorDateLine">
                        <p><span ng-repeat="tag in ul.selected.tags track by $index"><span ng-class-even="'even'" ng-class-odd="'odd'"><span ng-bind="tag" class="tag"></span></span></span>
                            <em> By <a href="{{ul.selected.url}}"><span ng-bind="ul.selected.name"></span></a></em> On <span ng-bind="ul.selected.date | date:'MM/dd/yyyy'"></span></p><span><md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon></span>
                    </div>
                    <hr />
                    <p><div id="messagestyle" marked="ul.selected.content"></div></p>
                </div>
            </div>
        </div>
        <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
          <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
          <md-icon md-svg-icon="share"></md-icon>
        </md-button>
      </md-content>
      <footer ng-include="'./src/templates/footer.html'"></footer>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./node_modules/angular-marked/node_modules/marked/lib/marked.js"></script>
    <script src="./node_modules/angular-marked/dist/angular-marked.js"></script>
    <script src="./bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="src/users/Users.js"></script>
    <script src="src/users/UserController.js"></script>
    <script src="src/users/UserService.js"></script>
    <script src="./js/script.js"></script>

  </body>
</html>
