<div class="header" ng-controller="navController as nav">
    <div layout="row">
        <h2>Archived Items</h2>
        <span flex></span>
        <div class="settings">
            <md-button class="md-primary blackify dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive" ng-class="{active:myDropdownIsActive}">
                <i class="fa fa-chevron-circle-down fa-lg blackify"></i>
                <ul class="dropdown-menu">
                    <li><md-button class="blackify" ui-sref="home" ng-click="{ active: nav.isActive('/home')}">Home</md-button></li>
                    <li><md-button class="blackify" ui-sref="about" ng-click="{ active: nav.isActive('/about')}">About</md-button></li>
                    <li><md-button class="blackify" ui-sref="archived" ng-click="{ active: nav.isActive('/archived')}">Archived</md-button></li>
                </ul>
            </md-button></div>
    </div>
</div>
<div class="paddingit">
    <div ng-controller="ListController as ul">
        <md-button class="md-primary" md-no-ink ng-click="ul.unArchiveItems()">Un Archive Item(s)</md-button>
        <ul ng-repeat="list in ul.lists">
            {{list.name | capitalize: true}}
            <li class="checkboxes" ng-repeat="item in list.items|orderBy:'-'|filter:{archived:true} as archived">
                <md-checkbox aria-label="checkbox" md-no-ink ng-model="item.done" class="md-primary"></md-checkbox>
                <edit-in-place value="item.text"></edit-in-place>
            </li>
        </ul>
    </div>
</div>